html{
    height: 100%;
}
header{
    background-color: #1C6EA4;;
    display: inline-block;
    margin: 0px;
    padding-top: 10px;
    vertical-align: top;
    width: 800px;
}
body{
    width: 800px;
    margin: 0 auto;
    padding-top: 5px;
    height: 100%;
    background-color: silver;
}
section{
    background-color: lightblue;
    height: 1800px;
    width: 675px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    float: left;
}
nav{
    display: inline-block;
    background-color: gainsboro;
    width: 800px;
    margin: 0px;
    padding: 0px;
}
#logo{
    display: block;
    height: 60px;
    width: 60px;
    float: left;
    padding: 30px;
    border-radius: 30%;
    margin-left: 50px;
    
}
#pageTitle{
    display: block;
    height: 70px;
    width: 600px;
    float: right;
    color: white;
    font-size: 48px;
}  
ul li {
    background-color: lavender;
    color: white;
    display: inline;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

#nacho{
    height: 600px;
    width: auto;
    display: inline-block;
    vertical-align: top;

}

#fish{
    height: 150px;
    width: 150px;
    display: inline-block;
}

#nameheading{
    display: inline-block;
    text-align: center;
    background-color: whitesmoke;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2.5px;
}

#likes{
    width:256px;
    float: left;
    display: inline;
    background-color: whitesmoke;
    font-size: 24px;
    height: 542px;
    padding: 0px 0px 0px 20px;
}

aside {
    height: 1800px;
    width: 125px;
    vertical-align: top;
    background-color: rgb(59, 144, 165);
    font-size: 12;
    float: right;

}


a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;     
    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }

p{
    display: inline-block;
    font-size: 24px;
    padding: 15px 0px 15px 15px;
    margin: 0px;
}