body{
    background-color: whitesmoke;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

header{
    background-color: white;
    width: 90%;
    height: 15%;
    display: block;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58);
    margin: 5px;
    padding: 30px 60px 30px 60px;
}

#header-links{
    display: block;
    text-align: center;
    padding-right: 30px;
}

#title-name{
    font-size: 48px;
    text-align: center;
    text-shadow: 1px 2px 4px #A4A4A4;
    display: block;
    margin-top: 5px;
}

#profile-picture{
    width:230px;
    border-radius: 50%;
    border:  1px solid black;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58);
    display: block;
    margin: 15px auto 0px auto;
}

ul li {
    list-style-type: none;
    display: inline;
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color:darkmagenta;
}

a:hover {
    color: darkblue;
}

a:active {
    color: lightskyblue;
}

#bio {
    text-align: center;
    font-weight: bold;
}

section{
    background-color: white;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58);
    padding: 30px 60px 60px 60px;
    width: 90%;
    margin: 5px;
    text-align: center;
}

.section-header{
    color: black;
    font-weight: bold;
}

#year{
    font-weight: bold;
    font-size:  2em;
    color: rgba(0, 0, 0, 0.7);

}

.program-name{
    color: darkmagenta;
}

.section-paragraph{
    color:rgb(27, 29, 35);
    line-height: 2em;
    font-size: 20px;
}

.preview{
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 5px 10px 10px 20px;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.5); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.5);
}
