body{
    background-color: gainsboro;
    font-family: sans-serif;
}

header{
    background-color: whitesmoke;
    width: 97%;
    height: 15%;
    display: block;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58);
    margin: 0;
    padding: 20px;

}

#header-links{
    display: inline-block;
    vertical-align: center;
    margin-left: 70px;
}

#title-name{
    font-size: 48px;
    text-align: center;
    font-family: robot, sans-serif;
    text-shadow: 1px 2px 4px #A4A4A4;
    display: inline-block;
    margin-left: 33%;
}

#profile-picture{
    width:230px;
    border-radius: 50%;
    border:  1px solid black;
    box-shadow: 1px 1px 3px 1px darkgrey;
    display: block;
    margin: 30px auto 30px auto;
}

ul li {
    list-style-type: none;
    display: inline;
}

a:link, visited{
    color: black;
    font-family: sans-serif;
}

section{
    background-color: whitesmoke;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58);

}

.section-header{
    color: black;
    font-weight: bold;
}

.section-paragraph{
    color: rgb();
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58);
}

.preview{
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58); 
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.58);

}
